.home-body {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;

  // 隐藏滚动条
  // &::-webkit-scrollbar {
  //   display: none;
  // }

  section {
    scroll-snap-align: start;
  }
}

.beian {
  display: flex;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 999;
}
